<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Broadcast by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',  filename='css/main.css') }}"/>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<h1><a href="#">Broadcast <span>by TEMPLATED</span></a></h1>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="{{ url_for('generic') }}">Generic</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>Random data again</h2>
							<p>This is a project for the  hangging house</p>
						</header>
						<div class="video">
							<div class="video-wrapper">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/s6zR2T9vn2c" frameborder="0" allowfullscreen></iframe>
							</div>
							<p class="caption">
								Random data
							</p>
						</div>
						<p>Random daata for testing purpose</p>
						<p>The hangging house test project</p>
					</div>
				</section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>Test Brodcast</h2>
							<p>Lets right something in here.</p>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
										<img src="images/pic09.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Test text
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic10.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										This can be filled with text
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="images/pic11.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Text can take place in here
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Title</h3>
							<ul class="alt">
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Title 2</h3>
							<ul class="alt">
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Title 3</h3>
							<ul class="alt">
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
								<li><a href="#">Randome text</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					&copy; Islam's Busniess></a>.
				</div>
			</footer>

		<!-- Scripts -->
		<script src="/static/js/jquery.min.js" charset="utf-8"></script>
		<script src="/static/js/skel.min.js" charset="utf-8"></script>
		<script src="/static/js/main.js" charset="utf-8"></script>
		<script src="/static/js/util.js" charset="utf-8"></script>
		<script src="/static/js/jquery.scrolly.min.js" charset="utf-8"></script>

	</body>
</html>